@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 23%, 16%);
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 100%;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(217, 19%, 24%);
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

h2 {
  color: hsl(150, 100%, 66%);
}

p {
  font-size: 30px;
  color: hsl(193, 38%, 86%);
  width: 80%;
  text-align: center;
  font-weight: 600;
}
button {
  background-color: hsl(150, 100%, 66%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.line-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.line-row img {
  width: 100%;
}

@media(max-width: 500px) {
  .card {
    width: 90%;
    margin: .5rem;
  }

  button {
    position: absolute;
    bottom: -10px;
  }

  .line-row img {
    padding-bottom: 50px;
  }
}